body {
		border : 5px solid black;
}
.header {
	background-color: #89CFF0;
	text-align: center;
		padding: 20px;
		border : 2px solid black;
}
.topnav {
	overflow : hidden;
	background : #bc0000;
}
.Overwatch {
	float: left
}
.Rainbow {
	float:right
}
.BlackOps4 {
	float:center
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
