body {
	background: linear-gradient(to bottom, #0000cc 0%, #ffff00 100%);	
}
.header {
	background-color: #89CFF0;
	text-align: center;
		padding: 20px;
		border : 2px solid black;
}
.topnav {
	overflow : hidden;
	background : #bc0000
}
.columnleft {
	float: left;
	width : 45%;
	border : 5px solid black;
	background-color:#c9c9c9;
}
.columnright {
	float: right;
	width : 53%;
	border : 5px solid black;
	background-color:#c9c9c9;
}
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
</style>
